@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #515151;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    background: rgb(60,60,60);
    background: linear-gradient(227deg, rgba(60,60,60,1) 0%, rgba(81,81,81,1) 50%, rgba(60,60,60,1) 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

#languages {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#intro {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin: .5rem 2rem;
    padding: 2rem;
    border: .3rem solid #3c3c3c;
    border-radius: .6rem;
    box-shadow: 1rem 1rem #3c3c3c;
    background-color: #666666;
    font-size: larger;
}

#imgh1 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
} 

#imgh1 h1 {
    text-align: center;
}

#photo {
    max-width: 20%;
    border: .2rem solid #3c3c3c;
    border-radius: 50%;
}

#contact {
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
    color: inherit;
    background-color: #3c3c3c;
    border-radius: .5rem;
}

section {
    margin: 1rem 5rem;
    padding: 1rem;
}

#sec1div1, #sec1div2 {
    text-align: center;
}

#sec1div1 h2, p{
   margin: 1rem 
}

#sec1div2 h2{
   margin: 2rem 0; 
}

#sec1div2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
    list-style: none;
}

#sec1div2 ul li {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
}

#sec1div2 ul li img {
    border-radius: .6rem;
}

#sec2 h2 {
    margin: 0 0 2rem 0;
    text-align: center;
}

#sec2 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

#sec2 div a {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
    border: .2rem solid #3c3c3c;
    border-radius: .4rem;
    padding: 1rem;
    background-color: #666666;
    box-shadow: .5rem .5rem #3c3c3c;
    transition: all .5s ease-in-out;
}

#sec2 div a:hover {
    transform: scale(1.1);
}

#sec2 div a img {
    border-radius: .5rem;
}

#sec2 div a h3 {
    text-align: center;
}

footer {
    padding: 1rem 2rem;
    background-color: #666666;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

footer ul li h4 {
    padding: .5rem;
    font-size: 1.2rem;
    background-color: #8c8c8c;
    border-radius: .5rem;
}

