* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #515151;
}

#languages {
    padding: 1rem;
}

#languages img {
    float: left;
    width: 64px;
    height:64px;
    object-fit: cover;
}
